<%= render 'shared/navbar_white_links'%>

<div class="main-container m-4">

 <div class="wrapper_todo">

      <div class="todo-checklist todo-card">


          <h4 class="card-title my-4"><i class="far fa-file-alt"></i>Mes démarches administratives</h4><hr>

           <div class="wrapper-checklist">

              <%= simple_form_for current_user do |f| %>

                  <div class="d-flex justify-content-between">
                  <div class="d-flex justify-content-start">
                    <div class="field pr-5">
                      <%= f.input :ordre, label: false, as: :boolean, :checked => 0 ,  input_html: { class: 'checkbox-round' }%>
                    </div>
                    <p class="">
                      Inscription au Conseil Départemental de l'Ordre
                    </p>
                    </div>
                    <a type="button" class="align-self-end" data-toggle="modal" data-target="#ordre">
                      <i class="fas fa-info-circle mb-3" id="plus-sign"></i>
                    </a>
                  </div>


                  <div class="d-flex justify-content-between">
                  <div class="d-flex justify-content-start">
                    <div class="field pr-5">
                      <%= f.input :cpam, label: false, as: :boolean, :checked => 0 ,  input_html: { class: 'checkbox-round' }%>
                    </div>
                    <p class="">
                      Inscription à la CPAM
                    </p>
                    </div>
                    <a type="button" class="align-self-end" data-toggle="modal" data-target="#cpam">
                      <i class="fas fa-info-circle mb-3" id="plus-sign"></i>
                    </a>
                  </div>


                  <div class="d-flex justify-content-between">
                  <div class="d-flex justify-content-start">
                    <div class="field pr-5">
                      <%= f.input :urssaf, label: false, as: :boolean, :checked => 0 ,  input_html: { class: 'checkbox-round' }%>
                    </div>
                    <p class="">
                      Déclararion auprès de l'URSSAF
                    </p>
                    </div>
                    <a type="button" class="align-self-end" data-toggle="modal" data-target="#ursaf">
                      <i class="fas fa-info-circle mb-3" id="plus-sign"></i>
                    </a>
                  </div>

                  <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-start">
                    <div class="field pr-5">
                      <%= f.input :retraite, label: false, as: :boolean, :checked => 0 ,  input_html: { class: 'checkbox-round' }%>
                    </div>
                    <p class="">
                      Inscription à la Caprimko
                    </p>
                    </div>
                    <a type="button" class="align-self-end" data-toggle="modal" data-target="#carpimko">
                      <i class="fas fa-info-circle mb-3" id="plus-sign"></i>
                    </a>
                  </div>



                  <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-start">
                      <div class="field pr-5">
                        <%= f.input :assurance_rcp, label: false, as: :boolean, :checked => 0 ,  input_html: { class: 'checkbox-round' }%>
                      </div>
                      <p class="">
                        Souscription à une Responsabilité Civile Professionnelle
                      </p>
                      </div>
                    <a type="button" class="align-self-end" data-toggle="modal" data-target="#rsp">
                      <i class="fas fa-info-circle mb-3" id="plus-sign"></i>
                    </a>
                  </div>
          </div>




                    <h4 class="card-title my-4"><i class="fas fa-briefcase-medical lightgreen"></i>Mon cabinet</h4><hr>

                    <div class="wrapper-checklist">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex justify-content-start">
                          <div class="field pr-5">
                            <%= f.input :cabinet, label: false, as: :boolean, :checked => 0 ,  input_html: { class: 'checkbox-round' }%>
                          </div>
                          <p class="">
                            Location ou achat d'un cabinet
                          </p>
                        </div>
                        <a type="button" class="align-self-end" data-toggle="modal" data-target="#cabinet">
                          <i class="fas fa-info-circle mb-3" id="plus-sign"></i>
                        </a>
                      </div>

                      <div class="d-flex justify-content-between">
                        <div class="d-flex justify-content-start">
                          <div class="field pr-5">
                            <%= f.input :materiel, label: false, as: :boolean, :checked => 0 ,  input_html: { class: 'checkbox-round' }%>
                          </div>
                          <p class="">
                            Achat du matériel nécessaire
                          </p>
                        </div>
                        <a type="button" class="align-self-end" data-toggle="modal" data-target="#materiel">
                          <i class="fas fa-info-circle mb-3" id="plus-sign"></i>
                        </a>
                      </div>
                    </div>

                    <h4 class="card-title my-4"><i class="far fa-comments lightgreen"></i>Ma communication</h4><hr>

                    <div class="wrapper-checklist">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex justify-content-start">
                          <div class="field pr-5">
                            <%= f.input :doctolib, label: false, as: :boolean, :checked => 0 ,  input_html: { class: 'checkbox-round' }%>
                          </div>
                          <p class="">
                            Inscription à Doctolib
                          </p>
                        </div>
                        <a type="button" class="align-self-end" data-toggle="modal" data-target="#doctolib">
                          <i class="fas fa-info-circle mb-3" id="plus-sign"></i>
                        </a>
                      </div>

                      <div class="d-flex justify-content-between">
                        <div class="d-flex justify-content-start">
                          <div class="field pr-5">
                            <%= f.input :google_business, label: false, as: :boolean, :checked => 0 ,  input_html: { class: 'checkbox-round' }%>
                          </div>
                          <p class="">
                            Inscription à Google My Business
                          </p>
                        </div>
                        <a type="button" class="align-self-end" data-toggle="modal" data-target="#gb">
                          <i class="fas fa-info-circle mb-3" id="plus-sign"></i>
                        </a>
                      </div>
                    <div class="text-center mt-3">
                      <%= f.submit "Mettre à jour mes démarches !", class: "btn btn-primary mt-3 pull-right", id: "button" %>
                    </div>
                    </div>
              <% end %>
            </div>

    <div class="todo-progress todo-card">
      <h6>Progession de votre projet</h6>
        <div class="block-progress">
          <div class="progress">
            <span class="progress-bar progress-bar-striped progress-bar-animated"  id="CheckProgress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></span>
          </div>
          <div class="percentage-todo">
          <div id="percentage" style="color:white"></div>
          </div>
        </div>
    </div>

    <div class="todo-links todo-card">
      <h6>Liens utiles</h6></br></br>
      <div class="align-self-center">
      <div> <i class="fas fa-arrow-right"></i> <%= link_to "Kineactu.com", "https://www.kineactu.com/#", target: :_blank, class: "text-data" %></div>
      <div class="text">L’hebdomadaire de la profession pour les kinésithérapeutes</div> </br></br>

      <div> <i class="fas fa-arrow-right"></i> <%= link_to "Le blog kiné de Maddie", "https://www.maddiedoctor.com/le-blog", target: :_blank, class: "text-data" %></div>
      <div class="text">Conseils kiné sur l'installation, le digital, la techniques et pleins d'autres sujets</div> </br></br>

      <div> <i class="fas fa-arrow-right"></i> <%= link_to "FFMKR", "https://www.ffmkr.org/actualites/nos-actualites/page/1", target: :_blank, class: "text-data" %></div>
      <div class="text">Fédération Française des Masseurs Kinésithérapeuthes Rééducateurs</div> </br>
      </div>
    </div>

  </div>
</div>


<!-- Button trigger modal -->


<!-- Modal ordre-->
<div class="modal fade" id="ordre" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center lightgreen" id="exampleModalLabel"><i class="far fa-file-alt"></i>Inscription au Conseil Départemental de l'Ordre</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        Pour plus d'infos sur comment s'inscrire au Conseil Départemental de l'Ordre, visitez le site de <strong> <%= link_to "l'Ordre", "https://www.ordremk.fr/je-suis-kinesitherapeute/exercice/minscrire-a-lordre/les-demarches/", target: :_blank %></strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal CPAM-->
<div class="modal fade" id="cpam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center lightgreen" id="exampleModalLabel"><i class="far fa-file-alt"></i>Inscription à la CPAM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        Pour plus d'infos sur comment s'inscrire à la CPAM, visitez le site de la <strong> <%= link_to "CPAM", "https://installation-kine.ameli.fr/installation_kine/", target: :_blank %></strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal URSAF-->
<div class="modal fade" id="ursaf" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center lightgreen" id="exampleModalLabel"><i class="far fa-file-alt"></i>Inscription à la CPAM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        Pour plus d'infos sur comment s'inscrire à l'URSSAF, visitez le site de l'<strong> <%= link_to "URSSAF", "https://www.urssaf.fr/portail/home/independant/je-cree-mon-entreprise/quelle-activite/je-suis-profession-liberale/sinstaller-en-tant-que-professio.html", target: :_blank %></strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal CARPIMKO-->
<div class="modal fade" id="carpimko" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center lightgreen" id="exampleModalLabel"><i class="far fa-file-alt"></i>Inscription à la CPAM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        Pour plus d'infos sur comment s'inscrire à la CARPIMKO, visitez le site de la<strong> <%= link_to "CARPIMKO", "https://www.carpimko.com/affiliation", target: :_blank %></strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal rsp-->
<div class="modal fade" id="rsp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center lightgreen" id="exampleModalLabel"><i class="far fa-file-alt"></i>Inscription à la CPAM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        Pour plus d'infos sur comment souscrire à une responsabilité civile professionnelle, visitez ce<strong> <%= link_to "comparateur", "https://www.lelynx.fr/pro/responsabilite-civile/comparatif-devis-assurance/", target: :_blank %></strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal cabinet-->
<div class="modal fade" id="cabinet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center lightgreen" id="exampleModalLabel"><i class="fas fa-clinic-medical"></i>Louer ou acheter un cabinet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        Pour plus d'infos sur comment trouver un cabinet, rendez-vous sur la page GeoCab<strong> <%= link_to "Mon cabinet", mes_locaux_path(current_user), target: :_blank %> </strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal materiel-->
<div class="modal fade" id="materiel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center lightgreen" id="exampleModalLabel"><i class="fas fa-clinic-medical"></i>Acheter mon materiel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        Pour plus d'infos sur comment acheter votre materiel, visitez ce <strong><%= link_to "site", "https://www.fyzea.fr/?gclid=CjwKCAiA8Jf-BRB-EiwAWDtEGvrTtas7N4CmtsUm_EOrHh2YSPeN8B_tyHILK0Lmlq654-l7Fikd2BoCvsAQAvD_BwE", target: :_blank %></strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal doctolib-->
<div class="modal fade" id="doctolib" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center lightgreen" id="exampleModalLabel"><i class="fas fa-comments"></i>Inscription sur Doctolib</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        Pour plus d'infos sur comment vous inscrire à Doctolib, rendez-vous <strong><%= link_to "ici", "https://info.doctolib.fr/?utm_source=google&utm_medium=cpc&utm_campaign=adv_AW_FR_Search_B2B_ACQ_Click_Generic_KW-doctolibpro_BMM-phrase&utm_content=461544983007&utm_term=%2Bdoctolib%20%2Bpro&gclid=CjwKCAiA8Jf-BRB-EiwAWDtEGkqT1v4Od2u1R5pl-LhapfSvF0lN6e8aXXlj3n5uQ-liJD5D2Pm0HBoCwEQQAvD_BwE", target: :_blank %></strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Google Business-->
<div class="modal fade" id="gb" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center lightgreen" id="exampleModalLabel"><i class="fas fa-comments"></i>Inscription à Google My Business</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        Pour plus d'infos sur comment vous inscrire à Google My Business, rendez-vous <strong><%= link_to "ici", "https://support.google.com/business/answer/9798848?hl=fr&ref_topic=4539639", target: :_blank %></strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style> .progress-bar { width: 0;}</style>
 <script>
 $(document).on("turbolinks:load", function(event){
    const updateProgressBar = () =>{
    let $checkboxes = $('.checkbox-round');
    let total = $checkboxes.length;
    let checked = $checkboxes.filter(':checked').length;
    let progressWidth = (checked / total) * 100;
    document.getElementById('percentage').innerHTML = progressWidth.toFixed() + '%';


    $('.progress-bar').css('width', progressWidth + '%');
  };

  { $(document).ready(function() {
    let $checkboxes = $('.checkbox-round');
    updateProgressBar();
    $checkboxes.on('change', updateProgressBar);
      });
 }})
function reloadIt() {
    if (window.location.href.substr(-2) !== "?r") {
        window.location = window.location.href + "?r";
    }
}

setTimeout('reloadIt()', 100)();
 </script>
