<h1>Questionnaire</h1>
<p>Repondre a quelque questions pour plus d'informations!</p>
<div class="container">
<%= simple_form_for @user do |f| %>
  <%= f.input :ordre %>

  <%= f.input :cpam %>
  <%= f.input :urssaf %>
  <%= f.button :submit %>
<% end %>
</div>
