<%= render 'shared/navbar_white_links'%>
<div class="container">
<%= form_with url: mes_locaux_path, local: true, method: :post do |f| %>
<inline style="color:white;"><strong> et je m'installe à </strong></inline>
  <%= f.text_field :query, placeholder: "Paris", class: "mt-3 form-control" %>
    <%= f.submit "C'est parti !", class: "mt-3 btn btn-primary" %>
<% end %>
</div>



<div class="main-container wrapper-locaux">
<nav id="menu"></nav>
<div id="map" class="card-local card-local-map"
      data-markers="<%= @markers.to_json %>"
      data-markers-competitors ="<%= @markers_competitors.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

  <div class="card-local-recherches">
    <div class="text-description"> mes recherches </div>
   <ul>
   <% current_user.searches.each do |search| %>

     <li>
   <%= link_to search.query, mes_locaux_path(current_user, search_id: search.id) %>

      <%= link_to 'Delete', @search, method: 'delete', data: { confirm: 'Êtes-vous sûr?' }%>


     </li>

   <% end %>
   </ul>
    <div>
    </div>
  </div>


  <div class="card-local-info1"></div>
  <div class="card-local-info2"></div>

</div>

