<%= render 'shared/navbar_white_links'%>
<div class="container">
<%= form_with url: mes_locaux_path, local: true, method: :post do |f| %>
<inline style="color:white;"><strong> et je m'installe à </strong></inline>
  <%= f.text_field :query, placeholder: "Paris", class: "mt-3 form-control" %>
    <%= f.submit "C'est parti !", class: "mt-3 btn btn-primary" %>
<% end %>
</div>



<div class="main-container wrapper-locaux">

<div id="map" class="card-local card-local-map"
      data-markers="<%= @markers.to_json %>"
      data-markers-competitors ="<%= @markers_competitors.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

  <div class="card-local card-local-recherches">
    <div class="text-description"> mes recherches </div>
   <ul>
   <% current_user.searches.last(2).each do |search| %>

     <li>
   <%= link_to search.query, mes_locaux_path(current_user, search_id: search.id) %>
   <% if search += 1%>
      <%= link_to 'Delete', @search, :method => 'delete' %>
   <% end %>

     </li>

   <% end %>
   </ul>
    <div>

    </div>
  </div>


  <div class="card-local card-local-ad"></div>

</div>



 <script>
  setTimeout(function(){
    //deferred onload
  }, 2000);
</script>
