<%= render 'shared/navbar_white_links'%>


<div class="container">

</div>
<h3 class="lightgreen mb-3 mt-3 ml-5"> <%= @search.query%> </h3>


<div class="main-container wrapper-locaux">
<nav id="menu"></nav>
<div id="map" class="card-local card-local-map"
      data-markers="<%= @markers.to_json %>"
      data-markers-competitors ="<%= @markers_competitors.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

  <div class="card-local-recherches">
    <div class="recherches-title mb-2"> <strong>Mes recherches</strong></div>

      <ul>
        <% current_user.searches.last(2).each do |search| %>
          <li>
            <%= link_to search.query, mes_locaux_path(current_user, search_id: search.id) %>
            <%= link_to ' | Supprimer', @search, method: 'delete', data: { confirm: 'Êtes-vous sûr?' }%>
          </li>
        <% end %>
       </ul>

      <div>

        <%= form_with url: mes_locaux_path, local: true, method: :post do |f| %>
          <!-- <inline style="color:white;"><strong> et je m'installe à </strong></inline> -->
          <div class="d-flex justify-content-between form-locaux">
          <%= f.text_field :query, placeholder: "Lyon 2ème", class: "btn-box-locaux" %>
          <%= f.submit "nouvelle recherche", class: "btn btn-primary btn-recherche-locaux" %>
          </div>
        <% end %>
      </div>
  </div>


  <div class="card-local-info1">
    <div class="text-data">
      <%= @ad.count %>
    </div>
    <div class="text-title">
      cabinet
    </div>
    <div class="text-description">
      sont en location actuellement
    </div>
  </div>

  <div class="card-local-info2">
    <div class="text-data"> <%= @avg.to_i %>€ </div> <div class="text-title"> loyer moyen d'un cabinet </div> <div class="text-description"> actuellement dans la zone recherchée</div>
  </div>

</div>

