<%= render 'shared/navbar'%>

<div class="main-background">
 <div class="container">
  <div class="card-body">
    <div class="d-flex justify-between position-relative">
      <div class="card-home-text">
        <div class="mb-5 mt-5 title-desc">
          <p>Votre projet d'installation en libéral de A à Z.</p>
        </div>
        <div class="form-inputs-home">
            <%= form_with url: "/searches", local: true, method: :post do |f| %>
            <div class="mb-3">
              <inline style="color:white;"><strong>Je suis</strong></inline>
              <%= f.select :job, %w[Infirmier Kinésithérapeute Généraliste Ostéopathe Sage-Femme], class: "dropdown" %>
              <inline style="color:white;"><strong> et je m'installe à </strong></inline>
            </div>
              <%= f.text_field :query, placeholder: "Paris", class: "form-control" %>
                <%= f.submit "C'est parti !", class: "mt-3 btn btn-primary" %>
              <%#= form_with model: @user do |f| %>
                <%#= f.select :job, %w[Infirmier Kinésithérapeute Médecin généraliste Ostéopathe Sage-Femme] %>
                <%# end %>
            <% end %>
        </div>
      </div>
      <div class="card-home-img">
        <%= image_tag "home-img.png", height: 150%>
      </div>
    </div>
  </div>
</div>
  <!-- <div class="card"> -->
    <div class="card-steps">
      <div class="card-body">
        <div class="d-flex justify-content-around">
          <div class="step">
            <i class="fas fa-clipboard-check"></i>
            <p text="center">Remplissez notre questionnaire pour précisez votre projet d'installation</p>
          </div>
          <div class="step align-self-center">
            <i class="fas fa-angle-double-right" style="color: #006a71;"></i>
          </div>
          <div class="step">
            <i class="fas fa-cogs"></i>
            <p text="center">Notre algorithme trouve pour vous les données pertinentes</p>
          </div>
          <div class="step align-self-center">
            <i class="fas fa-angle-double-right" style="color: #006a71;"></i>
          </div>
          <div class="step">
            <i class="fas fa-columns"></i>
            <p text="center">Accédez à votre projet sur-mesure dans votre tableau de bord !</p>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>

