<div class= "main-container">
  <h3> <%= "Voici quelques information sur #{@search.query}, cela pourrait vous interesser!" %> </h3>


  <div class="d-flex justify-content-center align-item-center main datas-container">

    <div id="map" class="map-insights"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <div>
      <div class="d-flex justify-content-between">
        <div class="card card-square"><div class="data"> 32 </div> </br> <div class="title"> cabinets </div> <div class="text"> disponibles à la vente ou la location à Lyon </div></div>
        <div class="card card-square"><div class="data"> 210 </div> </br> <div class="title"> kinésithérapeuthes </div> <div class="text"> sont en exercice à Lyon actuellement </div></div>
      </div>
      <div class="card card-horizontal"><div class="data"> 513 275 </div> </br> <div class="title"> habitants </div> <div class="text"> recensés à Lyon en 2019 </div></div>
    </div>
  </div>
</div>



<div class="card-quizz d-flex justify-content-center">
<div class="image-insights"> <%= image_tag "doctor-img.png", height: 130%> </div>

    <div class="text-banner">
      Répondez à notre questionnaire pour obtenir </br>
      votre projet d’installation personnalisé
    </div>
    <div class="btn-quizz"> <%= link_to "C'est parti !", edit_user_path(current_user) %> </div>

</div>
 <script>
        setTimeout(function(){
          //deferred onload
        }, 2000);
 </script>
