<%= render 'shared/navbar_white_links'%>

<div class="container login">
  <h2 class="mb-5 text-center">S'identifier</h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  label: false,
                  required: true,
                  autofocus: true,
                  placeholder: "Email",
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  label: false,
                  required: false,
                  placeholder: "Mot de passe",
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="mt-4 form-actions text-center">
      <%= f.button :submit, "Valider", class: "btn btn-primary" %>
    </div>
  <% end %>
  <div class="mt-3 text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
