<div class="main-container">



    <div class="card-profil d-flex justify-content-around">
      <div class="my-auto margin-profil"> <%= image_tag "doctor-table.png", height: 130%> </div>
      <div class="my-auto margin-profil"><div class="category-profil">Projet</div> </br> <div class="title-profil"> Kinésithérapeuthe</div></div>
      <div class="my-auto margin-profil"><div class="category-profil">Lieux</div> </br> <div class="title-profil"> Lyon</div></div>
     <div class="my-auto margin-profil"><div class="category-profil">Budget</div> </br> <div class="title-profil"> 80 000€</div></div>


    </div>


<div class="wrapper">

    <div class="card1 card-completion"><div class="text-category">Progression</div></div>

    <div class="card2 card-info">
      <div class="text-category">Mes démarches</div>
    </div>

    <%if current_user == nil  %>

    <%= link_to new_user_session_path, class: 'card-info card3' do %>
        <div class="text-category">Chiffres clés</div></br>
        <div class="text-data"> 513 275 </div>
        <div class="text-title"> habitants </div>
        <div class="text-description"> recensés à Lyon en 2019 </div>
      <% end %>

      <%= link_to new_user_session_path, class: 'card-info card4' do %>
        <div class="text-category">Chiffres clés</div></br>
        <div class="text-data"> 800€ </div>
        <div class="text-title"> de loyer mensuel </div>
        <div class="text-description"> pour un cabinet en location à Lyon </div>
      <% end %>

    <%else %>

      <%= link_to chiffres_cles_path(current_user), class: 'card-info card3' do %>
        <div class="text-category">Chiffres clés</div></br>
        <div class="text-data"> 513 275 </div>
        <div class="text-title"> habitants </div>
        <div class="text-description"> recensés à Lyon en 2019 </div>
      <% end %>

      <%= link_to chiffres_cles_path(current_user), class: 'card-info card4' do %>
        <div class="text-category">Chiffres clés</div></br>
        <div class="text-data"> 800€ </div>
        <div class="text-title"> de loyer mensuel </div>
        <div class="text-description"> pour un cabinet en location à Lyon </div>
      <% end %>
    <%end%>


    <div id="map" class="card-info-5"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

 </div>
 </div>

 <script>
  setTimeout(function(){
    //deferred onload
  }, 2000);
</script>




<%#= raw(ap @options) s %>