<%= render 'shared/navbar_white_links'%>

<div class="main-container">



    <div class="card-profil d-flex justify-content-around">
      <div class="my-auto margin-profil"> <%= image_tag "doctor-table.png", height: 130%> </div>
      <div class="my-auto margin-profil"><div class="category-profil">Projet</div> </br> <div class="title-profil"> <%=current_user ? current_user.job : @search.job %></div></div>
      <div class="my-auto margin-profil"><div class="category-profil">Lieux</div> </br> <div class="title-profil"> <%= @search.query%></div></div>
     <div class="my-auto margin-profil"><div class="category-profil">Budget</div> </br> <div class="title-profil"> <%= tag.span(cookies[:budget]) %>€</div></div>


    </div>


<div class="wrapper">

    <div class="card1 card-completion"><div class="text-category">Progression</div>
      <div class="circleprogress mx-auto" data-value='80'>
          <span class="circleprogress-left">
          <span class="circleprogress-bar border-primary"></span>
          </span>
          <span class="circleprogress-right">
          <span class="circleprogress-bar border-primary"></span>
          </span>
          <div class="circleprogress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
            <div class="h2 font-weight-bold">80<sup class="small">%</sup></div>
          </div>
        </div>
    </div>


  <%if current_user == nil%>
    <%= link_to new_user_session_path, class: 'card2 card-info' do %>
      <div class="text-category">Mes prochaines démarches</div>
      <div class="brand-color"> <%= "- S'inscrire à l'ordre des Kinésthérapeuthes" if cookies[:ordre] == 'false'%> </div>
      <div class="brand-color"> <%="- S'inscrire à la Cpam" if cookies[:cpam] == 'false'  %> </div>
      <div class="brand-color"> <%="- Se déclarer à l'Urssaf" if cookies[:urssaf] == 'false'  %> </div>
      <div class="brand-color"> <%="- S'inscrire à la caisse de retraite" if cookies[:retraite] == 'false'  %> </div>
      <div class="brand-color"> <%="- Souscire à une Responsabilité Civile Pro" if cookies[:assurance_rcp] == 'false'%></div>
    <%end%>
  <%else%>
    <%= link_to todo_lists_path, class: 'card2 card-info' do %>
      <div class="text-category mb-2">Mes prochaines démarches</div>
      <div class="text-title"> <i class="fas fa-arrow-right" id="arrow-todo"></i> <%=current_user.ordre ? "" : "S'inscrire à l'ordre des Kinésthérapeuthes" %> </div>
      <div class="text-title"> <i class="fas fa-arrow-right" id="arrow-todo"></i> <%=current_user.cpam ? "" : "S'inscrire à la Cpam" %> </div>
      <div class="text-title"> <i class="fas fa-arrow-right" id="arrow-todo"></i> <%=current_user.urssaf ? "" : "Se déclarer à l'Urssaf" %> </div>
      <div class="text-title"> <i class="fas fa-arrow-right" id="arrow-todo"></i> <%=current_user.retraite ? "" : "S'inscrire à la caisse de retraite" %> </div>
      <div class="text-title"> <i class="fas fa-arrow-right" id="arrow-todo"></i> <%=current_user.assurance_rcp ? "" : "Souscire à une Responsabilité Civile Pro" %> </div>
    <%end%>
  <%end%>

    <%if current_user == nil  %>

    <%= link_to new_user_session_path, class: 'card-info card3' do %>
        <div class="text-category">Chiffres clés</div></br>
        <div class="text-data"> 513 275 </div>
        <div class="text-title"> habitants </div>
        <div class="text-description"> recensés à Lyon en 2019 </div>
      <% end %>

      <%= link_to new_user_session_path, class: 'card-info card4' do %>
        <div class="text-category">Chiffres clés</div></br>
        <div class="text-data"> 800€ </div>
        <div class="text-title"> de loyer mensuel </div>
        <div class="text-description"> pour un cabinet en location à Lyon </div>
      <% end %>

    <%else %>

      <%= link_to chiffres_cles_path(current_user), class: 'card-info card3' do %>
        <div class="text-category">Chiffres clés</div></br>
        <div class="text-data"> 513 275 </div>
        <div class="text-title"> habitants </div>
        <div class="text-description"> recensés à Lyon en 2019 </div>
      <% end %>

      <%= link_to chiffres_cles_path(current_user), class: 'card-info card4' do %>
        <div class="text-category">Chiffres clés</div></br>
        <div class="text-data">  800€ </div>
        <div class="text-title"> de loyer mensuel </div>
        <div class="text-description"> pour un cabinet en location à Lyon </div>
      <% end %>
    <%end%>

<%= link_to mes_locaux_path(current_user), class: "card-info-5" do %>
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <%end%>


  </div>
 </div>

