<%= render 'shared/navbar_white_links'%>

<div class="main-container">



    <div class="card-profil d-flex justify-content-around">
      <div class="my-auto margin-profil"> <%= image_tag "doctor-table.png", height: 130%> </div>
      <div class="my-auto margin-profil"><div class="category-profil">Projet</div> </br> <div class="title-profil"> <%=current_user ? current_user.job : @search.job %></div></div>
      <div class="my-auto margin-profil"><div class="category-profil">Lieu</div> </br> <div class="title-profil"> <%= @search.query%></div></div>
     <div class="my-auto margin-profil"><div class="category-profil">Budget</div> </br> <div class="title-profil"> <%= tag.span(cookies[:budget]) %>€</div></div>


    </div>


<div class="wrapper">

    <div class="card1 card-completion"><div class="text-category">Progression</div>
      <div class="progress">
          <span class="progress-bar progress-bar-striped progress-bar-animated"  id="CheckProgress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></span>
        </div>
        <div id = "percentage"><%= current_user.get_prog %></div>
    </div>


    <%= link_to todo_lists_path, class: 'card2 card-info' do %>
      <div class="text-category mb-2">Mes prochaines démarches</div>
    <%if current_user.ordre == false %>
      <div class="text-title"> <i class="fas fa-arrow-right" id="arrow-todo"></i>S'inscrire à l'ordre des Kinésthérapeuthes</div>
    <%end%>

    <%if current_user.cpam == false%>
      <div class="text-title"> <i class="fas fa-arrow-right" id="arrow-todo"></i>S'inscrire à la Cpam</div>
    <%end%>

    <%if current_user.urssaf == false%>
      <div class="text-title"> <i class="fas fa-arrow-right" id="arrow-todo"></i>S'inscrire à l'Urssaf</div>
    <%end%>

    <%if current_user.retraite == false%>
      <div class="text-title"> <i class="fas fa-arrow-right" id="arrow-todo"></i>S'inscrire à la caisse de retraite</div>
    <%end%>

    <%if current_user.assurance_rcp == false%>
      <div class="text-title"> <i class="fas fa-arrow-right" id="arrow-todo"></i>S'inscrire à une Responsabilité Civile Pro</div>
    <%end%>
  <%end%>



      <%= link_to chiffres_cles_path(current_user), class: 'card-info card3' do %>
        <div class="text-category">Chiffres clés</div></br>
        <div class="text-data">
        <%= "29 352" if @search.query.include?("1er") %>
        <%= "30 436" if @search.query.include?("2e") %>
        <%= "101 882" if @search.query.include?("3e") %>
        <%= "36 145" if @search.query.include?("4e") %>
        <%= "48 182" if @search.query.include?("5e") %>
        <%= "50 596" if @search.query.include?("6e") %>
        <%= "81 480" if @search.query.include?("7e") %>
        <%= "85 229" if @search.query.include?("8e") %>
        <%= "49 774" if @search.query.include?("9e") %>
        </div>
        <div class="text-title"> habitants </div>
        <div class="text-description"> dans cette zone </div>
      <% end %>

      <%= link_to chiffres_cles_path(current_user), class: 'card-info card4' do %>
        <div class="text-category">Chiffres clés</div></br>
        <div class="text-data">  <%= @places.count  %> </div>
        <div class="text-title"> kinésithérapeuthes </div>
        <div class="text-description"> en exercice </div>
      <% end %>

      <%= link_to chiffres_cles_path(current_user), class: 'card-info card5' do %>
        <div class="text-category">Chiffres clés</div></br>
        <div class="text-data"> Zone surdotée </div>
        <div class="text-title"> selon l'Assurance Maladie </div>
        <div class="text-description"> pas d'incitation financière </div>
      <% end %>


<%= link_to mes_locaux_path(current_user), class: "card-info-6" do %>
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="info-cabinet">Cabinets disponibles à Lyon</div>
  <%end%>


  </div>
 </div>


 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style> .progress-bar { width: 0;}</style>
 <script>
 $(document).on("turbolinks:load", function(event){
    const updateProgressBar = () =>{
    let progressWidth = parseInt(document.getElementById('percentage').textContent);
    $('.progress-bar').css('width', progressWidth + '%');
  };

  { $(document).ready(function() {
    let $checkboxes = $('.checkbox-round');
    updateProgressBar();
    $checkboxes.on('change', updateProgressBar);
      });
    }
 200});

 </script>

