<%= render 'shared/navbar_white_links'%>

<div class="main-container questionnaire">
  <h2 class="mt-3">D'abord, faisons connaissance !</h2>
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h4><i class="far fa-file-alt"></i> Démarches administratives</h4>
        <hr>
      </div>
      <h4>Avez-vous entrepris les démarches suivantes ?</h4>
      <div class="wrapper-questionnaire">
        <div class="questionnaire-img">
          <%= image_tag "office-img.png", height: 150 %>
        </div>
        <div class="mt-5 questions">
          <%= form_with url: questionnaire_step_1_searches_path, local: true, method: :post do |f| %>

            <div class="field d-flex justify-content-between">
              <p>Je suis inscris à l’Ordre des Masseurs-Kinésithérapeutes</p>
              <div>
                <%= label :ordre, "Oui", value: true %>
                <%= f.radio_button :ordre, true,  :value => true %>

                <%= label :ordre, "Non", value: false %>
                <%= f.radio_button :ordre, false, :checked => true, :value => false%>
              </div>
            </div>

            <div class="field d-flex justify-content-between">
              <p>Je suis enregistré auprès de la CPAM</p>
              <div>
                <%= label :cpam, "Oui", value: true %>
                <%= f.radio_button :cpam, true,  :value => true %>
                <%= label :cpam, "Non", value: false %>
                <%= f.radio_button :cpam, false, :checked => true, :value => false%>
              </div>
            </div>

            <div class="field d-flex justify-content-between">
              <p>Je suis déclaré à l'URSSAF</p>
              <div>
                <%= label :urssaf, "Oui", value: true %>
                <%= f.radio_button :urssaf, true,  :value => true %>
                <%= label :urssaf, "Non", value: false %>
                <%= f.radio_button :urssaf, false, :checked => true, :value => false%>
              </div>
            </div>

            <div class="field d-flex justify-content-between">
              <p>Je suis inscris à la caisse de retraite CARPIMKO</p>
              <div>
                <%= label :retraite, "Oui", value: true %>
                <%= f.radio_button :retraite, true,  :value => true %>
                <%= label :retraite, "Non", value: false %>
                <%= f.radio_button :retraite, false, :checked => true, :value => false%>
              </div>
            </div>

            <div class="field d-flex justify-content-between">
              <p>J'ai souscris à une responsabilité civile professionnelle</p>
              <div>
                <%= label :assurance_rcp, "Oui", value: true %>
                <%= f.radio_button :assurance_rcp, true,  :value => true %>
                <%= label :assurance_rcp, "Non", value: false %>
                <%= f.radio_button :assurance_rcp, false, :checked => true, :value => false%>
              </div>
            </div>

        <div class="submit-questionnaire text-right">
            <%= f.submit "Questions suivantes !", class: "mt-5 btn btn-primary" %>
          <% end %>
        </div>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
      </div>
    </div>
  </div>
</div>
