<%= render 'shared/navbar_white_links'%>

<div class="main-container questionnaire">
  <h2>D'abord, faisons connaissance !</h2>
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h4><i class="fas fa-hospital-user"></i> Critères personnels</h4>
        <hr>
      </div>
      <h4>Où souhaitez-vous installer votre cabinet ?</h4>
      <div class="wrapper-questionnaire">
        <div class="questionnaire-img">
          <%= image_tag "office-img.png", height: 150 %>
        </div>
        <div class="mt-5 questions-2">
          <%= form_with url: questionnaire_step_2_searches_path, local: true, method: :post do |f| %>

            <div class="field d-flex justify-content-start">
              <div>
                <%= f.check_box :ecole, as: :boolean, :checked => 0,  input_html: { class: 'custom-check-box' } %>
              </div>
              <p class="ml-4">Proche d'une école ou d'une crèche ?</p>
            </div>

            <div class="field d-flex justify-content-start">
              <div>
                <%= f.check_box :sport, as: :boolean, :checked => 0,  input_html: { class: 'custom-check-box' } %>
              </div>
              <p class="ml-4">Proche d'une salle de sport ?</p>
            </div>

             <div class="field d-flex justify-content-start">
              <div>
                <%= f.check_box :parc, as: :boolean, :checked => 0,  input_html: { class: 'custom-check-box' } %>
              </div>
              <p class="ml-4">Proche d'un parc ?</p>
            </div>

            <div class="field d-flex justify-content-start">
              <div>
                <%= f.check_box :transport, as: :boolean, :checked => 0,  input_html: { class: 'custom-check-box' } %>
              </div>
              <p class="ml-4">Proche des transports en commun ?</p>
            </div>

            <div class="field d-flex justify-content-start">
              <p>Quel est votre budget ?</p>
              <div class="ml-4">
                <%= f.text_field :budget, placeholder: "750", class: "text-right" %> €
              </div>
            </div>
            <div class="submit-questionnaire2 text-right">
              <%= f.submit "Accéder à mon projet !", class: "mt-5 btn btn-primary" %>
            </div>
          <% end %>
        </div>
        </div>
     <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
      </div> -->
    </div>
  </div>
</div>
