<div class="container">
<h1>Questionnaire</h1>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
  </div>
<p>Repondre a quelque questions pour plus d'informations!</p>
<%= simple_form_for current_user do |f| %>

    <p>- Etes-vous inscrit au Conseil Départemental de l’Ordre (numéro RPPS)?</p>
        <div class="field">
        <%= f.input :retraite, as: :radio_buttons, collection: [["Yes", 1], ["No", 0]], :checked => 0 %>
    </div>

    <p>- Etes-vous inscrit au Conseil Départemental de l’Ordre (numéro RPPS)?</p>
    <div class="field">
      <%= f.input :ordre, as: :radio_buttons, collection: [["Yes", 1], ["No", 0]], :checked => 0 %>
    </div>

    <p>- Etes-vous inscrit au Conseil Départemental de l’Ordre (numéro RPPS)?</p>
    <div class="field">
      <%= f.input :assurance_rcp, as: :radio_buttons, collection: [["Yes", 1], ["No", 0]], :checked => 0 %>
    </div>

    <p>- Etes-vous inscrit au Conseil Départemental de l’Ordre (numéro RPPS)?</p>
    <div class="field">
      <%= f.input :urssaf, as: :radio_buttons, collection: [["Yes", 1], ["No", 0]], :checked => 0 %>
      <%= f.submit "Question suivante!", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>
