<%= render 'shared/navbar_white_links'%>

<div class= "main-container">
  <h3 class="lightgreen mb-3"> <%= "Voici quelques information sur #{@search.query}, cela pourrait vous interesser!" %> </h3>





    <div class="wrapper-insights">
        <div class="card-1 card-insights"><div class="text-data"> XX </div> </br> <div class="text-title"> cabinets </div> <div class="text-description"> disponibles à la vente ou la location à Lyon </div></div>
        <div class="card-2 card-insights"><div class="text-data"> <%= @avg.to_i %>€ </div> </br> <div class="text-title"> prix moyen d'un cabinet </div> <div class="text-description"> à Lyon actuellement </div></div>
        <div class="card-3 card-insights"><div class="text-data"> XX </div> </br> <div class="text-title"> kinésithérapeuthes </div> <div class="text-description"> sont en exercice à Lyon actuellement </div></div>
        <div id="map" class="card-insights-map"
               data-markers="<%= @markers.to_json %>"
               data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
    </div>

</div>



<div class="card-quizz d-flex justify-content-center">

    <div class="image-insights">  <%= image_tag "doctor-img.png", height: 130%>  </div>
    <div class="text-banner">
      Répondez à notre questionnaire pour obtenir </br>
      votre projet d’installation personnalisé
    </div>
    <div class="btn-quizz"> <div class="pb-5"> <%= link_to "C'est parti !", questionnaire_step_1_searches_path%> </div> </div>

</div>

<script>
  setTimeout(function(){
    //deferred onload
  }, 2000);
</script>

